/**index.wxss**/
.container1 {
  min-height: 100vh;
  background-color: rgb(238,238,238);
  // padding-top: 20rpx;
  overflow-x: hidden;

  .message {
    margin: 0rpx 0rpx 0 0rpx;
    border-radius: 6rpx;

    .notice {
      height: 85rpx;
      font-size: 36rpx;
    }
  }

  .project-info {
    height: 535rpx;
    margin: -2rpx 0rpx 0rpx 0rpx;
    box-shadow: 0 8rpx 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(223, 93, 15) !important;
    text-align: center;

    .swiper-container {
      height: 100%;

      .swipper-image {
        margin-top: -25rpx;
        width: 100%;
        height: 100%;
        // border-radius: 12rpx;
      }

      .swipper-image1 {
        width: 100%;
        height: 100%;
      }

      .swipper-image2 {
        width: 100%;
        height: 100%;
      }

      .swiper-item {
        margin: 35rpx 50rpx 60rpx;
        font-size: 42rpx;
        color: #333;
        text-align: justify;
        text-indent: 1.5em;
        white-space: pre-wrap;
      }
    }
  }
  .operation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 16% 16% 16% 16% 16% 16%;
    // grid-template-rows: 100%;
    margin: 30rpx 10rpx;

    .svgimg {
      width: 40%;
      height: 180rpx;
      display: block;
      margin: 10rpx auto 0;
    }

    .text {
      display: inline-block;
      width: 100%;
      font-size: 42rpx;
      word-break:break-all; //英文
      white-space:pre-wrap; //中文
      text-align: center;
      margin: 0 0 20rpx 0;
    }

    // .a {
    //   grid-area: 1/1/2/5;
    // }

    // .b {
    //   grid-area: 1/1/2/3;
    // }

    // .c {
    //   grid-area: 1/3/2/5;
    // }

    // .d {
    //   grid-area: 1/5/2/7;
    // }

    .op {
      width: 40%;
      margin: 20rpx 20rpx;
      color: #fff;
    }

    .op1 {
      background-color: rgb(236, 100, 16);
    }

    .op2 {
      background-color: skyblue;
    }

    .op3 {
      background-color: rgb(10, 165, 10);
    }

    .op4 {
      background-color: tan;
    }
  }
}

#right {
  width: 150px;
}

.index-button {
  margin: 20rpx 4vw 0 4vw;
}