/* components/buttonitem/buttonitem.wxss */
.op {
  display: block;
  width: 86vw;
  margin: 40rpx 0rpx 20rpx 10px;
  border-radius: 30rpx;
  background-color: rgb(242, 242, 250) !important;
  box-shadow: 0 12rpx 8rpx rgba(0, 0, 0, 0.2);
  padding: 10rpx 0 20rpx 0;
}

.btn-flex {
  display: flex;
  // gap: 0rpx;

  .image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -10rpx;
    
    .image-item {
      margin-top: 35rpx;
      height: 80%;
      width: 200rpx;
    }
  }

  .right-text {
    margin: 10rpx 20rpx 0 -20rpx;
    .text {
      display: inline-block;
      width: 100%;
      word-break:break-all; //英文
      white-space:pre-wrap; //中文
      margin: 20rpx 0 0 20rpx;
    }
    
    .intro {
      display: inline-block;
      margin: 16rpx 0rpx 16rpx 20rpx;
      max-width: 80%;
      color: rgb(139, 138, 142);
      text-align: center;
      font-size: 30rpx !important;
      word-wrap: break-word;
    }
    
    .info-text {
      color: #333;
      font-size: 54rpx;
      font-weight: 600;
      font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
    }
  }
}