/* pages/recommend/recommend.wxss */
.recommend-container {
  min-height: 100vh;
  background-color: rgb(244, 248, 251);
  padding-bottom: 30rpx;
  // padding: 0 20rpx 30rpx 20rpx;

  .output-header {
    padding: 20rpx 20rpx;
    padding-bottom: 40rpx;
    border-bottom: 1px dashed #ccc;
    background-color: rgb(162, 180, 190);

    .output-head {
      margin: 30rpx 0 15rpx 0;
      display: inline-block;
      font-size: 54rpx;
      color: rgb(254, 251, 250);
      width: 100%;
      text-align: center;
      font-family: "宋体",sans-serif;
      font-weight: bold;
    }

    .output-text {
      display: inline-block;
      margin: 10rpx 10rpx;
      font-size: 32rpx;
      line-height: 52rpx;
      color: rgb(254, 251, 250);
      font-family: "PingFang SC", "helvetica neue", arial, 阿里巴巴普惠体, "思源黑体 CN", "microsoft yahei ui", "microsoft yahei", "sans-serif";
      text-indent: 1.5em;
      white-space: pre-wrap;
      text-align: justify;
    }
  }

  .content {
    width: 85%;
    background-color: #fff;
    padding-bottom: 60rpx;
    // padding-top: 10rpx;
    // padding: 0 20rpx 60rpx 20rpx;
    margin: 40rpx auto;
    border-radius: 15rpx;
    box-shadow: 3rpx 3rpx 10rpx rgba(0,0,0,0.1);

    .finish {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: 32rpx;
      letter-spacing: 0.0em;
      padding-top: 50rpx;
    }

    .f1 {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 32rpx;
      padding-bottom: 30rpx;
    }

    .content-head {
      display: block;
      margin: 0rpx auto 0 auto;
      padding-top: 30rpx;
      font-family: '宋体';
      font-size: 42rpx;
      letter-spacing: 0.02em;
      text-align: center;
      width: 100%;
      height: 150rpx;
      line-height: 60rpx;
      font-weight: 600;
      background-color: rgb(232, 238, 242);
    }

    .content-item {
      .first {
        .special-rec {
          font-size: 34rpx;
          line-height: 48rpx;
          background-color: white;
          margin: 30rpx 60rpx;
          text-indent: 1.5em;
          letter-spacing: 0.08em;
          text-align: justify;
        }

        .daily-rec {
          background-color: rgb(227, 239, 243);
          display: flex;

          .daily {
            font-size: 38rpx;
            color: rgb(45, 111, 161);
            margin: 30rpx 40rpx 30rpx 20rpx;
            width: 5%;
          }

          .d-rec {
            width: 78%;
            background-color: white;
            border-radius: 15rpx;
            margin: 30rpx 40rpx 36rpx 0rpx;
            padding: 15rpx 0 0 10rpx;
            font-size: 34rpx;
            line-height: 56rpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .season-rec {
          background-color: rgb(234, 242, 252);
          display: flex;
          .season {
            font-size: 38rpx;
            color: rgb(45, 111, 161);
            margin: 40rpx 40rpx 30rpx 20rpx;
            width: 5%;
          }

          .s-rec {
            width: 78%;
            background-color: white;
            border-radius: 15rpx;
            margin: 30rpx 40rpx 36rpx 0rpx;
            padding: 0rpx 0 0 10rpx;
            font-size: 34rpx;
            line-height: 56rpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .head {
      display: block;
      margin: 20rpx auto 0 auto;
      font-family: '宋体';
      font-size: 42rpx;
      letter-spacing: 0.02em;
      text-align: center;
      width: 80%;
      line-height: 60rpx;
      font-weight: 600;
      background-color: rgb(232, 238, 242);
      border-radius: 15rpx;
    }

    .text-flex {
      width: 90%;
      display: flex;
      margin: 16rpx 30rpx 0 30rpx;
      flex-direction: row;
      flex-flow: wrap;
      flex: 1;
    } 

     .re-text {
      display: inline-block;
      font-family: '宋体';
      font-size: 44rpx;
      color: rgb(249, 157, 165);
      text-align: center;
      width: 50%;
      line-height: 60rpx;
      margin-top: 20rpx;
    }

    .rec-text {
      display: inline-block;
      font-family: '宋体';
      font-size: 44rpx;
      color: rgb(249, 157, 165);
      text-align: center;
      width: 50%;
      line-height: 60rpx;
      margin-top: 6rpx;
    }
  }


  .btn-flex {
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    margin-right: 15vw;
    gap: 80rpx;

    .button {
      width: 50%;
  
      .button-body {
        height: 80rpx;
        font-size: 32rpx;
        // letter-spacing: 0.1em;
        border-radius: 10rpx;
        box-shadow: 0rpx 10rpx 12rpx rgb(169, 174, 180);
      }
  
      .button-two {
        color: black !important;
        font-weight: 550;
      }
    }
  }
}

.pb-5 {
  display: inline-block;
  padding-bottom: 20rpx;
}
